@import './../../styles/mixins.scss';

.leave {
	position: absolute;
	z-index: 1;

	&_top {
		@extend .leave;
		top: 0;
		right: 0;
	}

	&_bottom {
		@extend .leave;
		bottom: -20%;
		left: 23%;
	}
}
