@import "./../../styles/mixins.scss";

.invito_container {
  height: 100vh;
  width: 100vw;
}

@media screen and (min-width: 426px) {
  .invito_container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
