@import './../../../styles/mixins.scss';

@media screen and (min-width: 400px) {
	.container {
		background-color: $card-background-color;
		font-family: $fontfamily-base;
		padding: $base-space;
		box-shadow: 2px 2px 16px #cec5ba;
		border: 0.5px solid #faf8ef;
		border-radius: 2px;
		margin: auto;
	}
}
.container {
	background-color: $card-background-color;
	font-family: $fontfamily-base;
	padding: $base-space;
	box-shadow: 2px 2px 16px #cec5ba;
	border: 0.5px solid #faf8ef;
	border-radius: 2px;
	margin: auto;
}
