@import "./../../styles/mixins.scss";

@media (orientation: portrait) {
  .card {
    height: fit-content;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;

    &_container {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      background-color: $card-background-color;

      box-shadow: 2px 2px 16px #cec5ba;
    }

    &_text-container {
      position: relative;
      padding: 7rem 1.5rem;
      border: 2px solid rgba(166, 136, 17, 0.293);
      width: 100%;
    }
  }

  .leaves {
    position: absolute;
    width: 100vw;
    aspect-ratio: 2;
    z-index: 2;
  }

  .bottom {
    bottom: -2px;
    right: 0;
    left: 0;
  }

  .top {
    top: 0;
    left: 0;
    right: 0;
  }

  .date {
    font-weight: 250;
    font-size: 8vw;
    color: $text-color-base;
  }
  .plain_text {
    font-weight: 250;
    font-size: 3.5vw;
    text-transform: uppercase;
    color: #67762e;
  }

  .and {
    position: absolute;
    left: 30%;
    right: 40%;
    top: 35%;
    bottom: 30%;
    font-family: $fontfamily-fancy;
    font-style: normal;
    font-weight: 400;
    font-size: 20vw;
    line-height: 309.5%;
    display: flex;
    align-items: center;
    color: rgba(103, 118, 46, 0.1);
  }

  .names {
    &_text {
      font-size: 18vw;
      line-height: 18vh;
      width: 100%;
      color: $text-color-base;
      text-align: center;
    }
    &_container {
      font-family: $fontfamily-fancy;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  @media (min-width: 426px) {
    .card {
      height: fit-content;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;

      &_container {
        height: 90vh;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        background-color: $card-background-color;

        box-shadow: 2px 2px 16px #cec5ba;
      }

      &_text-container {
        position: relative;
        padding: 7rem 1.5rem;
        border: 5px solid rgba(166, 136, 17, 0.293);
        width: 100%;
      }
    }

    .leaves {
      position: absolute;
      width: 80%;
      aspect-ratio: 2;
      z-index: 2;
    }

    .bottom {
      bottom: 4.7%;
      left: 10%;
    }

    .top {
      top: 5%;
      left: 10%;
    }

    .date {
      font-weight: 250;
      font-size: 8vw;
      color: $text-color-base;
    }
    .plain_text {
      font-weight: 250;
      font-size: 2.5vw;
      text-transform: uppercase;
      color: #67762e;
    }

    .and {
      position: absolute;
      left: 25%;
      right: 40%;
      top: 35%;
      bottom: 30%;
      font-family: $fontfamily-fancy;
      font-style: normal;
      font-weight: 400;
      font-size: 17vh;
      line-height: 309.5%;
      display: flex;
      align-items: center;
      color: rgba(103, 118, 46, 0.1);
    }

    .names {
      &_text {
        font-size: 15vw;
        line-height: 18vh;
        width: 100%;
        color: $text-color-base;
        text-align: center;
      }
      &_container {
        font-family: $fontfamily-fancy;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media (orientation: landscape) {
  .card {
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;

    &_container {
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      background-color: $card-background-color;
      box-shadow: 2px 2px 16px #cec5ba;
    }

    &_text-container {
      position: relative;
      padding: 1rem 2rem;
      border: 2px solid rgba(166, 136, 17, 0.293);
      width: 100%;
    }
  }

  .leaves {
    position: absolute;
    height: 68vh;
    aspect-ratio: 2;
    z-index: 2;
    transform: rotate(-90deg);
  }

  .bottom {
    top: 0;
    right: -34vh;
  }

  .top {
    top: 0;
    left: -34vh;
  }

  .date {
    font-weight: 250;
    font-size: 6vw;
    color: $text-color-base;
  }
  .plain_text {
    font-weight: 250;
    font-size: 3vw;
    text-transform: uppercase;
    color: #67762e;
  }

  .and {
    position: absolute;

    left: 37%;
    right: 40%;
    top: 71%;
    bottom: 30%;
    font-family: $fontfamily-fancy;
    font-style: normal;
    font-weight: 400;
    font-size: 20vw;
    line-height: 309.5%;
    display: flex;
    align-items: center;
    color: rgba(103, 118, 46, 0.1);
  }

  .names {
    &_text {
      font-size: 10vw;
      line-height: 28vh;
      width: 100%;
      color: $text-color-base;
      text-align: center;
    }
    &_container {
      font-family: $fontfamily-fancy;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}
