@import "./../../styles/mixins.scss";

.card_container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 !important;

  max-width: 43rem;
  max-height: 64rem;
}

.leave_container {
  height: 20%;
  width: 100%;
  z-index: 2;
}

.top {
  background-image: url("./top.svg");
  background-repeat: repeat-x;
  background-size: contain;
}

.bottom {
  background-image: url("./bottom.svg");
  background-repeat: repeat-x;
  background-size: contain;
  background-position-y: bottom;
}

.text_container {
  flex: 1;
  margin: -8vh 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &-border {
    position: relative;
    width: 90%;
    height: 100%;
    border: 2px solid rgba(166, 136, 17, 0.293);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.date {
  font-size: 2rem;
  font-weight: 250;
  color: $text-color-base;
}
.plain_text {
  font-size: 1rem;
  font-weight: 250;
  text-transform: uppercase;
  color: #67762e;
}

.and {
  font-size: 8rem;
  line-height: 309.5%;
  position: absolute;
  left: 50%;
  top: 55%;
  bottom: 30%;
  transform: translateX(-50%) translateY(-50%);
  font-family: AdoraBouton;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: rgba(103, 118, 46, 0.1);
}

.names {
  &_text {
    font-size: 7rem;
    line-height: 10rem;
    width: 100%;
    color: $text-color-base;
    text-align: center;
  }
  &_container {
    font-family: $fontfamily-fancy;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (orientation: landscape) {
  .card_container {
    flex-direction: row;

    max-height: 43rem;
    max-width: 64rem;
  }

  .leave_container {
    width: 20%;
    height: 100%;
  }

  .top {
    background-image: url("./left.svg");
    background-repeat: repeat-y;
  }

  .bottom {
    background-image: url("./right.svg");
    background-repeat: repeat-y;
    background-position-x: right;
  }
  .text_container {
    margin: 0 -8vw;

    &-border {
      width: 100%;
      height: 90%;
    }
  }

  .names {
    &_text {
      font-size: 7rem;
      line-height: 10rem;
      width: 100%;
      color: $text-color-base;
      text-align: center;
    }
    &_container {
      font-family: $fontfamily-fancy;
      position: relative;
      gap: 8vh;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  @media (min-width: 1200px) {
    .card_container {
      max-width: 60rem;
      max-height: 32rem;
    }
    .text_container {
      &-border {
        gap: 1.4rem;
      }
    }
    .date {
      font-size: 2.2rem;
    }
    .plain_text {
      font-size: 1.2rem;
    }
    .names {
      &_text {
        font-size: 10rem;
        line-height: 10rem;
        width: 100%;
        color: $text-color-base;
        text-align: center;
      }
    }
  }
}
