@import "./../../styles/mixins.scss";

$timeline-color: #67762e;

.container {
  display: grid;
  grid-template-areas: "image title dot" "image date date";
  grid-template-columns: 50% 35% 20px;
  width: 95%;
  column-gap: 1rem;
  margin-bottom: 2rem;
}

.wedding_container {
  display: grid;
  grid-template-areas: "w_title w_image w_dot" "w_date w_image w_dot";
  grid-template-columns: 35% 50% 20px;
  width: 95%;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

.image {
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: end;
}

.title {
  grid-area: title;
  text-align: end;
  display: flex;
  justify-content: end;
  align-items: center;
}

.dot {
  grid-area: dot;
  display: flex;
  align-items: center;
  position: relative;
}

.date {
  grid-area: date;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.w_image {
  grid-area: w_image;
  display: flex;
  align-items: center;
  justify-content: end;
}

.w_title {
  grid-area: w_title;
  text-align: end;
  display: flex;
  justify-content: center;
  align-items: center;

  & > .card_title {
    font-size: 1.3rem;
  }
}

.w_dot {
  grid-area: w_dot;
  display: flex;
  align-items: center;
  position: relative;
}

.w_date {
  grid-area: w_date;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.dot_symbol {
  background-color: #8bac12;
  border: 3px solid #ccde89;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  z-index: 2;

  &::after {
    content: "";
    background-color: #8bac12;
    position: absolute;
    height: 250px;
    width: 2px;
    top: 0;
    right: 10px;
    z-index: 1;
  }
}

.card {
  position: relative;
  padding: 0.5rem;
  z-index: 2;
  width: 90px;
  margin: 0;

  &_leave {
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;

    &--1::before {
      @extend .card_leave;
      background-image: url("./../images/people/1-leave.svg");
      height: 150px;
      width: 150px;
      top: -58px;
      right: -78px;
    }
    &--2::before {
      @extend .card_leave;
      background-image: url("./../images/people/2-leave.svg");
      height: 150px;
      width: 150px;
      top: -58px;
      left: -74px;
    }
    &--3::before {
      @extend .card_leave;
      background-image: url("./../images/people/3-leave.svg");
      height: 150px;
      width: 150px;
      top: -58px;
      right: -97px;
    }
    &--4::before {
      @extend .card_leave;
      background-image: url("./../images/people/4-leave.svg");
      height: 150px;
      width: 150px;
      top: -58px;
      left: -64px;
    }
    &--5::before {
      @extend .card_leave;
      background-image: url("./../images/people/5-leave.svg");
      height: 150px;
      width: 150px;
      top: -58px;
      right: -78px;
    }
  }
}
.card_title {
  font-family: $fontfamily-heading;
  font-size: 1rem;
  text-align: end;
  line-height: 18px;
}

.image {
  background-size: contain;
  background-repeat: no-repeat;

  &-1 {
    @extend .image;
    background-image: url("./../images/people/1.svg");
    height: 167px;
    width: 80px;
  }

  &-2 {
    @extend .image;
    background-image: url("./../images/people/2.svg");
    width: 109px;
    height: 171px;
  }
  &-3 {
    @extend .image;
    background-image: url("./../images/people/3.svg");
    width: 205px;
    height: 142px;
  }
  &-4 {
    @extend .image;
    background-image: url("./../images/people/4.svg");
    width: 190px;
    height: 181px;
  }
  &-5 {
    @extend .image;
    background-image: url("./../images/people/5.svg");
    width: 168px;
    height: 222.08px;
  }
}

.date {
  font-family: $fontfamily-base;
  line-height: 24px;
}

.date_month {
  font-size: 0.9rem;
}
.year {
  font-size: 2rem;
  opacity: 0.8;
}

@media (orientation: portrait) {
  @media (min-width: 426px) {
    .container {
    }

    .wedding_container {
    }

    .image {
    }

    .title {
    }

    .dot {
    }

    .date {
    }

    .w_image {
    }

    .w_title {
      & > .card_title {
        font-size: 1.3rem;
      }
    }

    .w_dot {
    }

    .w_date {
    }

    .dot_symbol {
      &::after {
        position: absolute;
        height: 250px;
        width: 2px;
        top: 0;
        right: 10px;
        z-index: 1;
      }
    }

    .card {
      padding: 0.5rem;
      z-index: 2;
      width: 90px;
      margin: 0;

      &_leave {
        &--1::before {
          height: 150px;
          width: 150px;
          top: -58px;
          right: -78px;
        }
        &--2::before {
          height: 150px;
          width: 150px;
          top: -58px;
          left: -74px;
        }
        &--3::before {
          height: 150px;
          width: 150px;
          top: -58px;
          right: -97px;
        }
        &--4::before {
          height: 150px;
          width: 150px;
          top: -58px;
          left: -64px;
        }
        &--5::before {
          height: 150px;
          width: 150px;
          top: -58px;
          right: -78px;
        }
      }
    }
    .card_title {
      font-size: 1.3rem;
      text-align: end;
      line-height: 20px;
    }

    .image {
      &-1 {
        height: 19vh;
        width: 12vw;
      }

      &-2 {
        width: 16vw;
        height: 26vw;
      }
      &-3 {
        width: 28vw;
        height: 17vh;
      }
      &-4 {
        width: 26vw;
        height: 19vh;
      }
      &-5 {
        width: 28vw;
        height: 27vh;
      }
    }

    .date {
      line-height: 24px;
    }

    .date_month {
      font-size: 0.9rem;
    }
    .year {
      font-size: 2rem;
      opacity: 0.8;
    }
  }
}
