@import "./../../styles/mixins.scss";

.card_wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (orientation: landscape) {
  .card_wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0rem 2rem;
  }
}
