@import "./../../styles/mixins.scss";

.card {
  width: 90%;
  text-align: center;
  z-index: 2;
}

.image_container {
  padding: 1rem;
}

.iban_container {
  border-radius: 2rem;
  font-size: 0.9rem;
  background-color: $nav-background-color;
  padding: 0rem 0rem 0rem 1rem;
  margin: auto;
  color: #ffffffb3;
  font-weight: bolder;
}

.copy_iban {
  background-color: transparent !important;

  &:hover {
    color: white;
  }
}

@media (min-width: 426px) {
  .card {
    width: 60%;
  }
}
