@font-face {
	font-family: MuseoSans;
	src: url(custom-fonts/MuseoSans-100.otf);
}

@font-face {
	font-family: AdoraBouton;
	src: url(custom-fonts/adorabouton.ttf);
}

@font-face {
	font-family: Didot;
	src: url(custom-fonts/Didot-regular.ttf);
}

$fontsize-base: 16px;
$fontfamily-base: MuseoSans;

$fontfamily-fancy: AdoraBouton;

$text-color-base: #62481a;

$background-color: #fefdfb;
$card-background-color: #fdfbf7;
$nav-background-color: #195905;
$card-border-radius: 2rem;

$base-space-md: 2rem;
$base-space-xs: 0.5rem;
