@font-face {
	font-family: MuseoSans;
	src: url(custom-fonts/MuseoSans-100.ttf);
}

@font-face {
	font-family: AdoraBouton;
	src: url(custom-fonts/adorabouton.ttf);
}

@font-face {
	font-family: Didot;
	src: url(custom-fonts/Didot-regular.ttf);
}

$fontsize-base: 16px;
$fontfamily-base: MuseoSans;

$fontfamily-fancy: AdoraBouton;

$fontfamily-heading: Didot;

$text-color-base: #3f2d0f;

$background-color: #fefdfb;
$card-background-color: #fdfbf7;
$nav-background-color: #195905;
$card-border-radius: 2rem;
$menu-background: rgba(255, 252, 246, 0.75);

$base-space: 2rem 1rem;
